:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;

  background: var(--body-bg-color);

  width: 100vh;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.container .text .title h1 {
  margin-top: 92px;

  color: var(--title-color);

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.container .text h2 {
  margin-top: 8.56px;
  
  color: var(--text-color);

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

}

.container .text p {
  margin-top: 9px;

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: var(--text-color);
}

.container .form {
  margin-top: 50px;
}

.container .form label {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: var(--form-color);
}

.container .form input {
  border: none;
  border-left: 5px solid var(--title-color);

  width: 750px;
  height: 48px;
  left: 36px;
  top: 424px;

  font-family: 'Work Sans';
  font-weight: 400;
}

.input-email {
  margin-top: 17px;
  display: flex;
}

.container .form button {
  border: none;

  width: 48px;
  height: 48px;

  padding: 0;
}

button:hover {
  cursor: pointer;
}

.container a {
  text-decoration: none;
  color: var(--bg-button-color);

  font-family: 'League Spartan';
  font-weight: 700;

  margin-top: 52px;
}

.link {
  align-items: center;

  display: flex;
}

.img-link {
  animation: moveToRight 2s ease-in-out;
  animation-delay: 1000ms;
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100%{
    transform: translateX(50px);
  }
}

.img-link {
  display: flex;
  
  margin-left: 5px;
}

@media (max-width: 850px) {
  .input-email {
    width: 100vh;
  }
}

@media (max-width: 600px) {
  .input-email {
    width: 70vh;
  }

  .container {
    width: 70vh;
  }
}
